body{
    
    background: linear-gradient( 
		155deg, 
		#02fcd2, 
		#a8fcff
	);
}



#clock {
	font-size: 175px;
	width: 900px;
	margin: 200px;
	text-align: center;
	border: 5px solid rgb(8, 8, 8);
	border-radius: 20px;
    color: yellow;
    background: linear-gradient( 
		155deg, 
		#fa00a7, 
		#fc020f
	);
}



/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    #clock {
        font-size: 1.5em;
    }
}

/* Media query for larger screens */
@media only screen and (min-width: 1200px) {
    #clock {
        font-size: 10em;
    }
}